name: Bump version on PR merge

on:
  workflow_dispatch:
  pull_request:
    types:
      - closed

jobs:
  bump:
    runs-on: ubuntu-latest
    # if: github.event.pull_request.merged == true

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Bump version and push tag
        uses: marier-nico/pr-bump@1.0
        with:
          configuration: '.github/workflows/pr_bump_config.json'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
